parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        # Pest plugin contracts are marked @internal by design.
        - '#.*marked as @internal.*#'
